/*

     Indholdsfortegnelse:
     - Generelt
     - Topnav
        - Mediaqueries
     - Splash
     - Variables



    - Classes
    - Keyframes
    - Media Querys underpunkt til de forskellige?

*/

/**************************** HER STARTER GENERELT ************************************/

body {
    margin: 0;

}

img {

    width: 100%;
}

section {
    max-width: 1440px;
    margin: 0;
}

.sectionwrapper {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'inter ui';
    src: url('font/inter ui.otf') format('otf'),
        url('font/inter ui.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'inter ui';
    font-size: 12vw;
    margin: 10vw 11vw -6vw 11vw;
    /*    text-transform: uppercase;*/

}


h2 {
    font-family: 'inter ui';
    font-size: 5vw;
    text-transform: uppercase;

}

p {
    font-family: 'inter ui';
    font-size: 0.8rem;
}


/************************** FÆLLES FOR TEMAERNE **********************************/

.tema_overview p {
    font-family: 'inter ui';
    font-size: 2vw;
    padding: 3vw 0 2vw 2vw;
}

.title {
    border: 1.5vw solid white;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.title h2 {
    flex-grow: 6;
    flex-basis: 50px;
    text-align: center;
}

.button_open {
    flex-grow: 1;
    flex-basis: 20px;
}

.description {
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

.column_text {
    flex-grow: 1;
    flex-basis: 20px;
}

.column_image {
    flex-grow: 1;
    flex-basis: 20px;
}

.gallery {
    flex-wrap: wrap;
    display: flex;
}

#item_name {
    flex-basis: 1vw;
    flex-grow: 1;
}

.date {
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 2vw;
}

.link {
    background-color: white;
    margin: 2vw;
    text-align: center;
    text-transform: uppercase;
}

/****************************** HER STARTER TOPNAV **************************************/

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(255, 182, 193, 0.19);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "inter ui";
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgba(221, 221, 221, 0.46);
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: rgba(114, 113, 113, 0.4);
    color: blue;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

#burgermenu {
    position: absolute;
    top: 1.6vw;
    left: 96vw;
    display: none;

}

/************************ HER STARTER TOPNAV - MEDIAQUERIES ******************************/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    #burgermenu {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/****************************** HER STARTER SPLASH **************************************/

#splash .sectionwrapper {
    background-size: cover;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 52.05vw;
    margin: 0;
    padding: 0;
    border: solid;
}

#splash p {
    font-family: 'inter ui';
    margin: 0;
    font-size: 2vw;
    position: absolute;
    top: 8vw;
    left: 70vw;
}

#splash h1 {
    font-family: 'inter ui';
    margin: 0;
    font-size: 10vw;
    position: absolute;
    top: 17vw;
    left: 40vw;
}

#box1 {

    height: 6vw;
    width: 22vw;
    background-color: lightblue;
    position: absolute;
    top: 42vw;
    left: 8vw;
}


#box2 {

    height: 12vw;
    width: 83.3vw;
    background-color: lavender;
    position: absolute;
    top: 25vw;
    left: 14vw;
}

#box3 {

    height: 8vw;
    width: 33vw;
    background-color: lightpink;
    position: absolute;
    top: 6vw;
    left: 4vw;
}

#circle1 {

    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: lightpink;
    position: absolute;
    top: 40vw;
    left: 55vw;

}

#circle2 {

    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: lightpink;
    position: absolute;
    top: 40vw;
    left: 63vw;

}

#circle3 {

    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: lightpink;
    position: absolute;
    top: 40vw;
    left: 71vw;

}


/****************************** HER STARTER VARIABLES **************************************/











/****************************** HER STARTER TEMA 01 **************************************/


#tema_01 .sectionwrapper {
    background-color: #4d7489;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

/****************************** HER STARTER TEMA 02 **************************************/


#tema_02 .sectionwrapper {
    background-color: #c65f46;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

/****************************** HER STARTER TEMA 03 **************************************/

#tema_03 .sectionwrapper {
    background-color: #b45b73;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

/****************************** HER STARTER TEMA 04 **************************************/


#tema_04 .sectionwrapper {
    background-color: #9f7598;
    margin: 0 10vw;
    padding: 0 0 2vw 0;
}

/****************************** HER STARTER ABOUT **************************************/

#about .sectionwrapper {
    background-color: #b9c974;
    margin: 0 10vw;
    padding: 0;
}

.container {
    flex-wrap: wrap;
    display: flex;
}

#about p {
    font-family: 'inter ui';
    font-size: 2vw;
    padding: 3vw 0 2vw 2vw;
}

/****************************** HER STARTER FOOTER **************************************/

#footer .sectionwrapper {
    background-color: #b9c974;
    margin: 10vw 10vw 0 10vw;
    padding: 0;
}

#footer p {
    padding: 1vw;
    text-align: center;
}

/***************************** HER STARTER CLASSES ************************************/

/*
.hide {
    display: none;
}
*/
